* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #000;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(113, 142, 146, 0.3)), url(images/legs-running-on-track.jpg);
    background-size: cover;
}

main {
    min-height: 100vh;

}

a {
    text-decoration: none;
    color: inherit;
}

li:hover {
    background-color: #758397;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 1rem;
    background-color: #b4c0d6;
    border-bottom: 1px solid #babebf;
    box-shadow: -1px 16px 12px -3px #59636874;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    list-style: none;
    background-color: #93b6d7;
    padding: 10px 20px;
    margin-left: 10px;
}

.homelink {
    font-size: xx-large;
    font-weight: bold;
    
    font-family: Georgia, 'Times New Roman', Times, serif   ;
}

footer {
    background-color: #b4c0d6;
    border-top: 1px solid #babebf;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    box-shadow: -1px -8px 12px -3px #8faab5a6;
}