main {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px;
}

section {
    background-color: #99d4ff69;
    margin: 5px;
}

.nav-options {
    width: 20%;
    padding: 5px;
    
}

.info-section {
    width: 80%;
    padding: 10px;
}

.statistics-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;

    font-size: larger;

}

.table-display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin: 2rem;
}

.table-display table {
    border-collapse: collapse;
    width: 100%;
}

.table-display table td, th {
    border: 1px solid #0c333f;
    padding: 8px;
}

td a {
    color: #0c333f;
    background-color: #99d4ff69;

    height: 100%;
    width: 100%;
}

#workoutcreation {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: s;
}

#workoutcreation input {
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}