main {
    display: flex;
    flex-direction: row;
}

.search-filter {
    background-color: #99d4ff69;
    padding: 1rem;

    margin: 10px;

    width: 20%;
}

.search-filter input[type="text"] {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #0c333f;
    padding: 5px;
}

.search-filter input[type="submit"] {
    width: 40%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #0c333f;
    padding: 5px;
    margin-top: 5px;
    background-color: #f6fbff;

    cursor: pointer;
}

.search-filter input[type="submit"]:hover {
    background-color: #e4f4ffa8;
}

.search-filter select {
    width: 58%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #0c333f;
    padding: 5px;
    margin-top: 5px;
}

.workouts {
    width: 80%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;

    max-height: 100vh;
    overflow: auto;
}

.workout-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;

    padding: 7px;
    border-radius: 5px;
    border: 1px solid #0c333f;

    height: 300px;
    width: 300px;

    background-color: #93b6d7;
}

img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 10px 10px 0 0;
}

.workout-bekijk {
    width: 100%;
    height: 3rem;
    background-color: #7daad4;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 0 0 5px 5px;
}

.workout-bekijk:hover {
    background-color: #7cd0ea51;
}

#createworkout {
    width: 100%;
    height: 10%;
    
    background-color: #7daad4;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 500px;

    border-radius: 0 0 5px 5px;
}

#createworkout:hover {
    background-color: #7cd0ea51;
}

.workout-details {
    width: 60%;
    height: 100%;

    background-color: #99d4ff69;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

}

.workout-details img {
    width: 400px;
    height: 400px;

    padding: 20px   ;
    object-fit: cover;

    margin: 0 auto;

    border-radius: 50px;
}